{% extends 'layout.html' %} {% block title %} Course {% endblock %} {% block
main %}

<div id="course-page">
  <section class="top-section">
    <div class="content-container">
      <div class="top-content-container">
        <p>Tillbaka till sökresultat</p>
        <h1 class="courseName">{{ data }}</h1>
      </div>
    </div>
  </section>

  <div class="content-container">
    <section class="bottom-section">
      <p>Visar 4 resultat för "dietist"< /p></p>
    </section>
  </div>
</div>

{% endblock %}
