{% extends 'layout.html' %} {% block title %}Registrera {% endblock %} {% block
main %}

<div class="content-container">
  <h2 class="highlighter">Lägg till kurs</h2>
  <form action="" method="POST" id="write-review">
    <div class="form-control" id="courseName-group">
      <label for="courseName">Kursnamn</label>
      <input
        type="text"
        id="courseName"
        name="courseName"
        placeholder="eg. Konstvetenskap"
        required
      />
    </div>
    <div class="form-control" id="university-group">
      <label for="university">Universitet</label>
      <input
        type="text"
        name="university"
        placeholder="eg. Uppsala universitet"
        required
      />
    </div>
    <div class="form-control" id="credits-group">
      <label for="credits">Antal hp</label>
      <input
        type="number"
        min="0"
        step=".5"
        name="credits"
        placeholder="eg. 30"
        required
      />
    </div>
    <div class="button-container">
      <button onclick="formPreventDefault()" class="secondary wide">
        Back
      </button>
      <button type="submit" class="primary wide">Publicera</button>
    </div>
  </form>
</div>

{% endblock %}
