{% extends "layout.html" %} {% block title %} Home {% endblock %} {% block
main%}

<div id="home">
  <h1 id="hero-text">
    Läs och lämna <span class="highlighter">omdömen</span> om universitetskurser
  </h1>
  <div class="search-container">
    <form class="search-form">
      <div class="form-control">
        <label for="search">Sök på en kurs eller program</label>
        <input
          type="search"
          name="search"
          class="search"
          placeholder="Eg. Dietist"
          autocomplete="off"
          name="q"
          value=""
        />
      </div>
      <button type="submit" class="primary">
        <i class="fa fa-search"></i>Sök
      </button>
    </form>
  </div>
</div>

{% endblock %}
