{% extends 'layout.html' %} {% block title %}Registrera {% endblock %} {% block
main %}

<div class="content-container">
  <h2 class="highlighter">Skriv omdöme</h2>
  <form action="" method="POST" id="write-review">
    <div class="form-control" id="courseName-group">
      <label for="courseName">Kursnamn</label>
      <input type="text" id="courseName" name="courseName" />
    </div>
    <div class="form-control" id="university-group">
      <label for="university">Universitet</label>
      <input type="text" name="university" />
    </div>
    <div class="form-control" id="credits-group">
      <label for="credits">Antal hp</label>
      <input type="number" name="credits" />
    </div>
    <div class="form-control" id="reviewTitle-group">
      <label for="reviewTitle">Rubrik</label>
      <input type="text" id="reviewTitle" name="reviewTitle" />
    </div>
    <div class="form-control" id="rating-group">
      <label for="rating">Omdöme</label>
      <input
        type="number"
        min="1"
        max="5"
        value="3"
        name="rating"
        id="rating-input"
      />
    </div>
    <input
      type="range"
      min="1"
      max="5"
      step="1"
      id="rating-slider"
      name="ratingSlider"
    />

    <div class="form-control" id="reviewTf-group">
      <label for="comments">Kommentar</label>
      <textarea name="comments" rows="10"> </textarea>
    </div>
    <div class="button-container">
      <button class="secondary wide">Avbryta</button>
      <button type="submit" class="primary wide">Publicera</button>
    </div>
  </form>
</div>

{% endblock %}
